h2 {
  font-size: 20px;
}

.scheduler-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.people-panel {
  width: 240px;
  border-right: 2px solid #222;
  padding-right: 20px;
}

.person {
  padding: 10px;
  background: #ddd;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: grab;
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
}

.grid {
  flex: 1;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.slot {
  background: #f5f5f5;
  border-radius: 10px;
  height: 100px;
  padding: 6px;
  border: 2px solid #ccc;
  transition: 0.2s;
}

.slot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.slot-day {
  font-size: 12px;
}

.slot-label {
  font-size: 10px;
  color: rgb(5, 132, 236);
}

.slot-hours {
  font-size: 10px;
}

.slot .assigned {
  margin-top: 12px;
  font-size: 16px;
  font-weight: bold;
}

.slot-hours {
  font-size: 12px;
  opacity: 0.6;
  margin-top: 2px;
}

.clear-hint {
  font-size: 11px;
  opacity: 0.35;
  margin-top: 8px;
}

.group-heading {
  padding: 0;
  margin: 8px;
  font-size: 18px;
  color: rgb(5, 132, 236);
}

/* COLOR STATES */
.green {
  border-color: green;
  background: #d5f8d5;
}

.red {
  border-color: red;
  background: #f8d5d5;
}

.yellow {
  border-color: goldenrod;
  background: #fff5c2;
}

.green-person {
  background-color: #2ecc71 !important;
  color: white;
}

.yellow-person {
  background-color: #f1c40f !important;
  color: black;
}

.red-person {
  background-color: #e74c3c !important;
  color: white;
}

.alert::after {
  content: "!!!";
  font-weight: bold;
  color: #fbff00;
  font-size: 24px;
}

.red-person.alert {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  flex-direction: row;
  gap: 2px;
  flex-grow: 1;
  align-items: center;
  color: #fbff00;
}
